body {
    background-color: #f0eff2;
}

.container {
    max-width: 900px;
    margin: 32px auto;
    background: #f0eff2;
    padding: 24px 28px;
    border-radius: 12px;
}

/* 見出し */
.container h2 {
    margin: 0 0 16px;
    font-size: 28px;
    font-weight: 800;
    position: relative;
    padding-left: 12px;
    margin-bottom: 30px;
}

.container h2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    bottom: 4px;
    width: 4px;
    background: #111;
    /* 黒いアクセントバー */
    border-radius: 2px;
}

.form-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #f0eff2;
    margin-top: 16px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
}

.form-table td,
.form-table th {
    line-height: 45px;
    /* テキストを縦中央にして高さを出す */
}

.form-table th {
    padding: 12px 16px;
    border-bottom: 2px solid #f0eff2;
    text-align: left;
    padding: 14px 0 14px 50px;
    vertical-align: middle;
    font-weight: 400;
}

.form-table td {
    padding: 12px 16px;
    border-bottom: 2px solid #f0eff2;
    vertical-align: middle;
    padding: 14px 0 14px 0px;
    text-align: left;
    font-weight: bold;
}

.date-split {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    column-gap: 130px;
    align-items: center;
    text-align: center;
}

.hor {
    display: flex;
    align-items: center;
    gap: 20px;
}

input[type="time"] {
    width: 110px;
    height: 30px;
    padding: 6px 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 18px;
    text-align: center;
    font-variant-numeric: tabular-nums;
    /* 0〜9を等幅で */
    background: #fff;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

.text {
    width: 280px;
    height: 80px;
    padding: 5px 14px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    background: #fff;
    resize: none;
    /* ユーザーによるリサイズ禁止 */
    outline: none;
}



.button {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}

.btn-black {
    background-color: #111;
    color: #fff;
    border: none;
    padding: 5px 30px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

fieldset[disabled] {
    border: none;
    /* 枠線を消す */
    padding: 0;
    /* 内側余白をリセット */
    margin: 0;
    /* 外側余白も消す */
}

.pending-note {
    color: #ff0000; /* 赤色 */
    font-weight: bold;
    margin-top: 16px;
    text-align: right;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
}